repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|cc|cxx|c|hpp|hh|h|cu|cuh)$
        args: [--style=file, -i]
  
  # Python formatting
  - repo: https://github.com/psf/black
    rev: '25.11.0'
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=88]
  
  - repo: https://github.com/pycqa/isort
    rev: '7.0.0'
    hooks:
      - id: isort
        args: [--profile, black]
  
  # # REUSE license compliance
  # - repo: https://github.com/fsfe/reuse-tool
  #   rev: 'v6.2.0'
  #   hooks:
  #     - id: reuse

# Configuration
ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: []
    submodules: false
